footer {
  min-height: 20%;
  width: 100vw;

  #map {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    max-width: 500px;
    object-fit: cover;
  }
}

// #footerGrid {
//   background: $featureColor;
//   display: grid;
//   width: 100%;
//   grid-template-columns: 1fr 1fr 1fr;
//   justify-items: center;
//   align-items:center;
// }
// #footerGridItem1 {
//   justify-self: start;
//   align-self:center
//   ;
//   padding-top: 15%;
// }
// #h2Footer {
//   display: inline;
//   align-self: center;
// }
// #footerGridItem2 {
//   justify-self: center;
//   align-self: center;
// }
// #footerGridItem3 {
//   justify-self: end;
//   align-self: end;
// }
